PROJECT_URL=https://your-domain.com
RASA_URL=https://bot.your-domain.com
ALLOW_REGISTER=1
DEBUG=1
APP_PORT=8000
TZ=Europe/Prague
SECRET_KEY="your-secret-key"
MAIL_SERVER="smtp-relay.google.com"
MAIL_PORT=465
MAIL_FROM="EDU-AI"
MAIL_USERNAME="your-email@example.com"
MAIL_PASSWORD="your-mail-password"
MYSQL_ROOT_PASSWORD="your-mysql-root-password"
MFF_URL="https://quest.ms.mff.cuni.cz/namuddis/qa"
MFF_WIKI_URL="https://quest.ms.mff.cuni.cz/namuddis/qa"
LIBRARY_URL="https://roborec.chat/courses/library"
OPENAI_API_KEY="sk-proj-your-openai-api-key"
OPENAI_MODEL=gpt-5.1
CHAT_TEMPERATURE=0.7
CHAT_MAX_TOKENS=500
MAX_AI_RESPONSES=10
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_your_langsmith_api_key
FASTAPI_LANGSMITH_PROJECT=pr-virtual-monkey-58
WEBCHAT_LANGSMITH_PROJECT=webchat-edu-ai
OLLAMA_PORT=11434
HF_TOKEN="hf_your-huggingface-token"
GROQ_KEY="gsk_your-groq-api-key"
SUPER_ADMINS="admin1@example.com,admin2@example.com"
SENTRY_DSN="https://your-sentry-dsn"
