PROJECT_URL=https://your-domain.com
RASA_URL=https://bot.your-domain.com
ALLOW_REGISTER=1
DEBUG=1
APP_PORT=8000
TZ=Europe/Prague
SECRET_KEY="your-secret-key"
MAIL_SERVER="smtp-relay.google.com"
MAIL_PORT=465
MAIL_FROM="EDU-AI"
MAIL_USERNAME="your-email@example.com"
MAIL_PASSWORD="your-mail-password"
MYSQL_ROOT_PASSWORD="your-mysql-root-password"
MYSQL_DATABASE="edu"
MFF_URL="https://quest.ms.mff.cuni.cz/namuddis/qa"
MFF_WIKI_URL="https://quest.ms.mff.cuni.cz/namuddis/qa"
LIBRARY_URL="https://roborec.chat/courses/library"
AI_CONFIG_PATH="/opt/edu-ai/ai_config.json"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
FASTAPI_LANGSMITH_PROJECT=fastapi-edu-ai
WEBCHAT_LANGSMITH_PROJECT=webchat-edu-ai
SUPER_ADMINS="admin1@example.com,admin2@example.com"
