PROJECT_URL=https://your-domain.com
RASA_URL=https://bot.your-domain.com
ALLOW_REGISTER=1
DEBUG=1
APP_PORT=8000
TZ=Europe/Prague
SECRET_KEY="appsecretkey"
MAIL_SERVER="smtp-relay.google.com"
MAIL_PORT=465
MAIL_FROM="EDU-AI"
MAIL_USERNAME="username@gmail.com"
MAIL_PASSWORD="randompassword"
MYSQL_ROOT_PASSWORD="randompassword"
MFF_URL="https://quest.ms.mff.cuni.cz/namuddis/qa"
MFF_WIKI_URL="https://quest.ms.mff.cuni.cz/namuddis/qa"
LIBRARY_URL="https://roborec.chat/courses/library"
OPENAI_API_KEY="sk-proj-YOUR_OPENAI_API_KEY_HERE"
OLLAMA_PORT=11434
HF_TOKEN="hf_YOUR_HUGGINGFACE_TOKEN_HERE"
GROQ_KEY="gsk_YOUR_GROQ_API_KEY_HERE"
SUPER_ADMINS="admin1@example.com,admin2@example.com"
