<div class="navigation-rail">
    <div class="top">
        <a href="{{url_for('roleplay.roleplay_home')}}">
            <div class="nav-icon">
                <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 612 612"
                    width="24"
                    height="24"
                    stroke="currentColor"
                    xml:space="preserve"
                >
                    <g>
                        <g id="_x32__26_">
                            <g>
                                <path
                                    d="M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25
								c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75
								c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125
								S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612
								l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z
								M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75
								c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z"
                                />
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <span>EDU</span>
        </a>

        <button
            class="icon-button"
            onclick="document.body.classList.toggle('navigation-open');"
            aria-label="Toggle navigation"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="feather feather-x"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"
                />
            </svg>
        </button>
    </div>

    <nav>
        <ul>
            <li>
                <a
                    class="{% if request.endpoint == 'roleplay.roleplay_home' %}active{%endif%}"
                    href="{{url_for('roleplay.roleplay_home')}}"
                    title="Chat"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-message-circle"
                        >
                            <path
                                d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"
                            ></path>
                        </svg>
                    </div>
                    Chat
                </a>
            </li>
            <li>
                <a
                    class="{% if request.endpoint == 'roleplay.conversations' and request.args.get('show_public_flags') == 'true' %}active{%endif%}"
                    href="{{url_for('roleplay.conversations', show_public_flags='true')}}"
                    title="Zveřejněné zprávy"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-globe"
                        >
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path
                                d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                            ></path>
                        </svg>
                    </div>
                    Zprávy
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li>
                <a
                    class="{% if request.endpoint == 'roleplay.conversations' and request.args.get('show_flagged_only') != 'true' and request.args.get('show_public_flags') != 'true' %}active{%endif%}"
                    href="{{url_for('roleplay.conversations')}}"
                    title="Moje konverzace"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-inbox"
                        >
                            <polyline
                                points="22 12 16 12 14 15 10 15 8 12 2 12"
                            ></polyline>
                            <path
                                d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
                            ></path>
                        </svg>
                    </div>
                    Konverzace
                </a>
            </li>
            <li>
                <a
                    class="{% if request.endpoint == 'roleplay.teams' %}active{%endif%}"
                    href="{{url_for('roleplay.teams')}}"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-users"
                        >
                            <path
                                d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                            ></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                    </div>
                    Týmy
                </a>
            </li>
            <li>
                <a
                    class="{% if request.endpoint == 'roleplay.conversations' and request.args.get('show_flagged_only') == 'true' %}active{%endif%}"
                    href="{{url_for('roleplay.conversations', show_flagged_only='true')}}"
                    title="Označené zprávy"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-flag"
                        >
                            <path
                                d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"
                            ></path>
                            <line x1="4" y1="22" x2="4" y2="15"></line>
                        </svg>
                    </div>
                    Označené
                </a>
            </li>
            {% if current_user.is_super_admin %}
            <li>
                <a
                    class="{% if request.endpoint == 'roleplay.admin_dashboard' %}active{%endif%}"
                    href="{{url_for('roleplay.admin_dashboard')}}"
                    title="Admin Dashboard"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-shield"
                        >
                            <path
                                d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"
                            ></path>
                        </svg>
                    </div>
                    Admin
                </a>
            </li>
            {% endif %} {% endif %}
            <li class="scissors">
                <a
                    href="{{url_for('admin.courses')}}"
                    title="Přepnout na kurzy"
                >
                    <div class="nav-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-book"
                        >
                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                            <path
                                d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"
                            ></path>
                        </svg>
                    </div>
                    Kurzy
                </a>
            </li>
        </ul>
    </nav>

    <div class="bottom">
        <div>
            <a href="javascript:void(0);" data-toggle="dropdown">
                <div class="nav-icon">
                    <figure class="avatar">
                        <span class="avatar-title rounded-circle">
                            {{current_user.email[0]|upper if
                            current_user.is_authenticated else '?'}}
                        </span>
                    </figure>
                </div>
                Účet
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);">
                    <i class="fas fa-user me-2"></i>{{ current_user.email if
                    current_user.is_authenticated else 'Nepřihlášen' }}
                </a>
                {% if current_user.is_authenticated %}
                <a class="dropdown-item" href="/admin/logout">
                    <i class="fas fa-sign-out-alt me-2"></i>Odhlásit se
                </a>
                {% else %}
                <a class="dropdown-item" href="/login">
                    <i class="fas fa-sign-in-alt me-2"></i>Přihlásit se
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
